<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Configuraci&oacute;n de Factores</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de Factores de Riesgo
                    <!--
                    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add()">
                        <i class="fa fa-plus"></i> Agregar Factor
                    </button>
                    -->
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" class="order-column cell-border hover" cellspacing="0" width="100%" id="dataTables-configurations-levels">
                            <thead>
                            <tr>
                                <th>Descripci&oacute;n</th>
                                <th>Activo</th>
                                <th>Ponderaci&oacute;n</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="factor in factors track by factor.id">
                                <td>{{factor.description}}</td>
                                <td>{{factor.active | yesno}}</td>
                                <td>{{factor.ponderation}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            ng-click="edit(factor)">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                    <!--
                                    <button type="button" class="btn btn-danger btn-xs"
                                            ng-click="delete(factor)">
                                        <i class="fa fa-trash"></i> Eliminar
                                    </button>
                                    -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
