<!-- Page Content -->
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Archivos Generales</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de Archivos Generales
                    <button type="button" class="btn btn-primary btn-xs pull-right" ng-click="add()">
                        <i class="fa fa-plus"></i> Agregar Archivo
                    </button>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table datatable="ng" class="order-column cell-border hover" cellspacing="0" width="100%" id="dataTables-generalFiles">
                            <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Estante</th>
                                <th>Fila</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="file in files track by file.id">
                                <td data-ng-if="file.client.individual">{{file.client.names}} {{file.client.lastNames}}</td>
                                <td data-ng-if="!file.client.individual">{{file.client.businessName}}</td>
                                <td>{{file.row}}</td>
                                <td>{{file.column}}</td>
                                <td>{{file.status.description}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning btn-xs"
                                            ng-click="edit(file)">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                    &nbsp;
                                    <button type="button" class="btn btn-primary btn-xs"
                                            ng-click="digitalFiles(file.client.id)">
                                        <i class="fa fa-files-o"></i> Digitales
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
